<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="/static/js/head.js"></script>
</head>
<body>
<h1>小吃货</h1>
<table>
<tr>
<td align="top">
<img src="/static/pics/xiaochihuo.jpg" />
</td>
<td>
<h2>使用说明</h2>
<ol>
    <li>menu/help/帮助: 打印帮助菜单</li>
    <li>服务
    <ul>
        <li>酒店   西二旗: 寻找附近酒店</li>
		<li>可用服务<ul>
				<li>电影</li>
				<li>美食</li>
				<li>购物</li>
				<li>休闲</li>
				<li>娱乐</li>
				<li>运动</li>
				<li>旅游</li>
		</ul></li>
    </ul>
    </li>
    <li>工具
    <ul>
        <li>翻译 你好: 翻译中文到英文</li>
        <li>生日:查看生日记录</li>
        <li>生日 姓名 时间:查看生日记录</li>
    </ul>
    </li>
	<li>默认<ul>
		<li>英文: 翻译</li>
		<li>中文: 寻找附近美食</li>
	</ul></li>
</ol>
</td>
</tr>
</table>

<script type="text/javascript" src="/static/js/default.js"></script>
</body>
</html>
