<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="/static/js/head.js"></script>
</head>
<body>
<h1>使用帮助</h1>
<ol>
    <li>menu/help/帮助: 打印帮助菜单</li>
    <li>服务
    <ul>
        <li> 西二旗: 中文地名，自动寻找附近美食</li>
        <li> 住宿   西二旗：服务类型+空格+地名：寻找附近服务</li>
    </ul>
    </li>
    <li>工具
    <ul>
        <li>english sentenses: 英文句子或单词自动翻译</li>
        <li>生日:查看生日记录</li>
        <li>生日 姓名 时间:查看生日记录</li>
        <li>翻译 <中文句子>：翻译中文到英文</li>
    </ul>
    </li>
</ol>

<script type="text/javascript" src="/static/js/default.js"></script>
</body>
</html>
